main {
  width: 100vw;
  height: 100vh;
}

h2{
  text-align: center;
}

ul {
  margin-top: 1rem;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 0;
  height: 30%;
  overflow-y: scroll;
  font-size: 1.5rem;
  color: white;
  list-style: none;
}

li {
  overflow-y: 1rem;
  margin: 0 1rem 0 1rem;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 25%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-height: 700px) {
  ul {
    position: relative;
  }
  main {
    margin-top: 10%;
    height: 100%;
  }
}

@media (max-width: 575px) {
  ul {
    height: 15%;
  }
}


